<article class="body">
    <h2>CONTACTO</h2>
    <form action="fields">
        <div>Nombre: Yoiner Rafael Bello Fajardo</div>
        <div>Email: yoinerbello1998@gmail.com</div>
        <div><a href="assets/CV-YOINER-BELLO.pdf" download="CV YOINER BELLO">DESCARGAR CV (INSERTAR ICONO DE DESCARGA)</a></div>
    </form>
    <ul class="icons">
        <li>
            <a href="https://www.linkedin.com/in/yoinerbello/">AQUI VA ICONO DE LINKEDLN</a>
        </li>
    </ul>
    
    <ul class="icons">
        <li>
            <a href="https://github.com/yoinercoding">AQUI VA ICONO DE GITHUB</a>
        </li>
    </ul>    
</article>

<app-footer></app-footer>


