.body {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: #fff;
    background: url(assets/bg-pattern.png), #190f1f;
    background: url(assets/bg-pattern.png), -webkit-gradient(linear, right top, left top, from(#060055), to(#4d4b4b));
    background: url(assets/bg-pattern.png), linear-gradient(to left, #014e15, #858282);
}

.imgPerfil {
    width: 280px;
    height: 270px;
    border-radius:150px;
    display: block;
    margin: -30px auto;
}