<div class="body">
    <br>
    <br>
    <br>
    <img src="assets/IMG_20200128_182134.jpg" class="imgPerfil">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="name">
        <h1>Software Developer</h1>
        <h2>Yoiner Rafael Bello Fajardo</h2>
    </div>

<div class="card-container">
    <a class="card" rel="noopener" href="#" routerLink = '/info'>
            <h3>Quien soy?</h3>  
    </a>
        <a class="card" rel="noopener" href="#" routerLink = '/tecnologias'>
            <h3>Tecnologias</h3>
    </a>
    <a class="card" rel="noopener" href="#" routerLink = '/contacto'>
            <h3>Contacto</h3>
    </a>
</div>
</div>
<app-footer></app-footer>