<app-nav></app-nav>

<div class="profile-page bg-dark">
    <div class="wrapper">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true">
            </div>
        
           <div class="container">
            <div class="home-img">
                <img src="assets/images/IMG_20200128_182134.jpg" class="center-block d-block mx-auto">
           </div>
             <div class="h2 title text-center text-white">Yoiner Rafael Bello Fajardo</div>
                <p class="category text-center text-white">Software Engineer</p>
            </div>
        </div>
        
        <br *ngFor="let number of [].constructor(20)"> <!--BAJA EN LA PAGINA ESPACIOS-->
        

<app-about></app-about>     
<app-experience></app-experience>
<app-education></app-education>     
<app-contact></app-contact>