img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 170px;
   }
   .profile-image {
    height: 300px;
    width: 300px;
    display: block;
    margin: 0px auto;
    text-align : center;
    
   }

   .h2 {
    text-align : center;
   }

