<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<body class="background">
<div class="container-info">

      <div class="content">
      <h1>System.out.println("Hello World"); </h1>
      <br>
      <h2>Software Developer</h2>
      <br>
      <h3>Mi nombre es Yoiner Rafael Bello Fajardo, tengo 25 años y soy Software Developer.
         Amante de la tecnología desde chico, inicie experimentando con mis propias PC's y Notebooks. 
         Gracias a mi constancia de querer aprender cosas nuevas, me adentré en el mundo del Software 
         con Java y sus derivados Frameworks... y de ahí adelante ha sido un no parar de querer aprender
         nuevas tecnologías.</h3>
      <br>
      <h3>Seguimos creciendo, seguimos aprendiendo, seguimos desarrollándonos!</h3>
      <br>
    </div>

  <div class="flap"></div>
</div>
</body>

<main class="main-logos-tecnologias">
  <div class="icon">
    <a href="https://www.java.com/es/" target="_blank">
      <i class='bx bxl-java'></i>
    </a>
  </div>

  <div class="icon">
    <a href="https://spring.io/" target="_blank">
      <i class='bx bxl-spring-boot'></i>
    </a>
  </div>

  <div class="icon">
    <a href="https://www.microsoft.com/es-es/sql-server/sql-server-2019" target="_blank">
    <i class='bx bxs-data'></i>
    </a>
  </div>

  <div class="icon">
    <a href="https://hibernate.org/" target="_blank">
    <i class='bx bx-data'></i>
    </a>  
  </div>

  <div class="icon">
    <a href="https://angular.io/" target="_blank">
    <i class='bx bxl-angular'></i>
    </a>
  </div>

  <div class="icon">
    <a href="https://developer.mozilla.org/es/docs/Glossary/HTML5" target="_blank">
    <i class='bx bxl-html5'></i>
    </a>
  </div>

  <div class="icon">
    <a href="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank">
    <i class='bx bxl-css3'></i>
    </a>
  </div>

  <div class="icon">
    <a href="https://github.com/yoinercoding" target="_blank">
      <i class='bx bxl-github'></i>
    </a>
  </div>

  <div class="icon">
    <a href="https://about.gitlab.com/" target="_blank">
    <i class='bx bxl-gitlab'></i>
    </a>
  </div>

  <div class="icon">
    <a href="https://www.docker.com/" target="_blank">
    <i class='bx bxl-docker'></i>
    </a>
  </div>

</main>
<app-footer></app-footer>