* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  .body {
      padding-top: 70px;
      padding-bottom: 98px;
      color: #fff;
      background: url(src/assets/bg-pattern.png), #190f1f;
      background: url(src/assets/bg-pattern.png), linear-gradient(to left, #070c09, #858282);
  }
  
  .name{
    margin: 0px auto;
    text-align: center;
    font-family: monospace;
    font-size: larger;
  }