.card-header-first {
    margin-top: -40px;
    height: 100px;
    background: linear-gradient(-90deg, rgb(49, 49, 56), rgb(15, 15, 15));
    box-shadow: 1px 5px 15px #a2a2a2;
}

.card-header-second {
    margin-top: -40px;
    height: 100px;
    background: linear-gradient(-90deg, rgb(49, 49, 56), rgb(15, 15, 15));
    box-shadow: 1px 5px 15px #a2a2a2;
}

.card-section {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 2px 10px 0 rgba(0,0,0,.12);
}

.card-section:hover {
    box-shadow: 1px 1px 20px #d2d2d2;
}

.link {
    text-decoration: none;
}