<div class="container principal">
    <div class="section" id="experience">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="row">

                    <!-- CARD 1 -->
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card-section border rounded p-3">
                            <div class="card-header-second rounded pb-5">
                                <h2 class="card-header-tittle text-white pt-3"><a href="https://www.igarretamaquinas.com.ar/" class="link">IGARRETA MAQUINAS</a></h2>
                            </div>
                            <div class="card-header-tittle text-white mx-auto">
                                <!--<img src="assets/images/igarretamaquinas.png" class="card-img-top">-->
                                <div class="card-body">
                                    <h5 class="card-title">Software Developer</h5>
                                    <p class="card-text">Canned ERP Maintenance,
                                        Correction of errors in transactions,
                                        Development of Java Scripts for activities in Workflow.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CARD 2 -->
                    <div class="col-lg-4 col-md-12 mb-4 ms-auto">
                        <div class="card-section border rounded p-3">
                            <div class="card-header-second rounded pb-5">
                                <h2 class="card-header-tittle text-white pt-3"><a href="http://nocountry.tech/" class="link">NO COUNTRY FOR JUNIORS DEV</a></h2>
                            </div>
                            <div class="card-header-title text-white mx-auto">
                                <!--<img src="assets/images/no country.jpg" class="card-img-top">-->
                                <div class="card-body">
                                    <h5 class="card-title">Software Developer</h5>
                                    <p class="card-text">Creation of a rest API using Java together with its different Frameworks,
                                         also Javascript and bootstrap</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<br *ngFor="let number of [].constructor(10)">