<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Yoiner Rafael Bello Fajardo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link smooth-scroll" aria-current="page" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link smooth-scroll" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link smooth-scroll" href="#experience">Work Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link smooth-scroll" href="#education">Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link smooth-scroll" href="#tecnologies">Tecnologies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link smooth-scroll" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header> 