<div class="body">
    <img src="assets/IMG_20200128_182134.jpg" class="imgPerfil">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="name">
        <h2>Software Developer</h2>
        <h1>Yoiner Rafael Bello Fajardo</h1>
    </div>

<div class="card-container">
    <a class="card" rel="noopener" href="#" routerLink = '/info'>
            <span>Quien soy?</span>  
    </a>

        <a class="card" rel="noopener" href="#" routerLink = '/tecnologias'>
            <span>Tecnologias</span>
    </a>

    <a class="card" rel="noopener" href="#" routerLink = '/contacto'>
            <span>Contacto</span>
    </a>
</div>
</div>