<div class="body">
    <img src="assets/IMG_20200128_182134.jpg" class="imgPerfil">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="name">
        <h1>Yoiner Rafael Bello Fajardo</h1>
    </div>

<div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://www.linkedin.com/in/yoinerbello/">
        <i class="material-icons">
            <i class="fa-brands fa-linkedin"></i>
        </i>
            <span>Quien soy?</span>  
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://twitter.com/BelloYoiner">
        <i class="material-icons">
            <i class="fa-brands fa-twitter"></i>
        </i>
            <span>Tecnologias</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://github.com/yoinercoding">
        <i class="material-icons">
            <i class="fa-brands fa-github"></i>
        </i>  
            <span>Contacto</span>
    </a>
</div>
</div>