<div class="body">
    <img src="assets/IMG_20200128_182134.jpg" class="imgPerfil">

<div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://www.linkedin.com/in/yoinerbello/">
        <i class="material-icons">
            <i class="fa-brands fa-linkedin"></i>
        </i>
            <span>Linkendln</span>  
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://twitter.com/BelloYoiner">
        <i class="material-icons">
            <i class="fa-brands fa-twitter"></i>
        </i>
            <span>Twitter</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://github.com/yoinercoding">
        <i class="material-icons">
            <i class="fa-brands fa-github"></i>
        </i>  
            <span>GitHub</span>
    </a>
</div>
</div>