* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }

  .background{
      height: 100vh;
      color: #1e1414;
      background: url(assets/bg-pattern.png), #070707;
      background: url(assets/bg-pattern.png), linear-gradient(to left, #435048, #3b3939);
  }
  
    .material-icons {
      height: 20px;
      width: 20px;
      margin-right: 5px;
    }

    .footer {
      position: absolute;
      bottom: 0px;
      width: 100%;
      text-align: center;
      color: rgb(247, 252, 252);
    }

    .link-color-footer{
      color: rgb(247, 252, 252);
      text-decoration: none;
    }

    .main-logos-tecnologias {
      position: absolute;
      bottom: 40px;
      text-align: center;
    }

    .button-info {
      position: absolute;
      bottom: 40px;
      text-align: center;
    }

    .logos-footer {
      position: absolute;
      bottom: 40px;
      text-align: center;
    }
